@tailwind base;
@tailwind components;
@tailwind utilities;


.label-price {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.7rem, 2vw, 1rem);
    width: clamp(2rem, 7vw, 8rem);
    height: clamp(1rem, 2vw, 3.5rem);
}

.btn-edit {
    background-color: white;
    color: black;
}

.label-name {
    color: white;
    text-align: start;
    font-size: clamp(1rem, 7vw, 1.3rem);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}