@tailwind base;
@tailwind components;
@tailwind utilities;


.label-price {
    color: rgb(255, 0, 0);
    text-align: start;
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 1.8rem);
    width: clamp(9rem, 13vw, 12rem);
    height: clamp(2rem, 2vw, 3.5rem);
}

.btn-edit {
    background-color: white;
    color: black;
}

.label-name {
    color: rgb(0, 0, 0);
    text-align: start;
    font-size: clamp(1rem, 7vw, 1.7rem);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media (min-width: 440px) {
    .label-price {
        width: 12rem;
    }
}